<?xml version="1.0"?>
<entity version="1.5">
  <datasource type="Provider" name="AX.FM.Explorer,AX.FM.Explorer.Providers.SessionStateProvider" />
  <primarykey>Name</primarykey>
  <fields>
    <field name="Name" type="Text" format="" dbtype="" size="200" title="Name" description="Name" required="true" readonly="false" uimask="00111" />
    <field name="Value" type="Text" format="" dbtype="" size="1000" title="Value" description="Description" required="false" readonly="false" uimask="00111" />
  </fields>
</entity>