<entity version="4.0">
  <header title="" />
  <description title="" />
  <datasource name="AX_WF_StateHistory" type="DB" />
  <primarykey>ID</primarykey>
  <watermark>Images/Views/Logo_Default.png</watermark>
  <fields>
    <field title="ID" name="ID" type="Text" uimask="00111" readonly="false" required="true" size="" description="" format="" dbtype="Guid" />
    <field title="Instance Id" name="InstanceId" type="Text" uimask="00111" readonly="false" required="true" size="" description="" format="" dbtype="Guid" />
    <field title="Process Name" name="ProcessName" type="Text" uimask="00111" readonly="false" required="true" size="50" description="" format="" dbtype="String" />
    <field title="Key Value" name="KeyValue" type="Text" uimask="00111" readonly="false" required="true" size="100" description="" format="" dbtype="String" />
    <field title="State Name" name="StateName" type="Text" uimask="00111" readonly="false" required="true" size="100" description="" format="" dbtype="String" />
    <field title="State Title" name="StateTitle" type="Text" uimask="00111" readonly="false" required="false" size="200" description="" format="" dbtype="StringUnicode" />
    <field title="Initiated By" name="InitiatedBy" type="Lookup" uimask="00111" readonly="false" required="false" size="" description="" format="" dbtype="Guid">
      <extract table="aspnet_Membership" view="" />
    </field>
    <field title="Initiated On" name="InitiatedOn" type="DateTime" uimask="00111" readonly="false" required="false" size="" description="" format="datetime" dbtype="DateTime" />
    <field title="Completed By" name="CompletedBy" type="Lookup" uimask="00111" readonly="false" required="false" size="" description="" format="" dbtype="Guid">
      <extract table="aspnet_Membership" view="" />
    </field>
    <field title="Completed On" name="CompletedOn" type="DateTime" uimask="00111" readonly="false" required="false" size="" description="" format="datetime" dbtype="DateTime" />
    <field title="Table Name" name="TableName" type="Text" uimask="00111" readonly="false" required="true" size="50" description="" format="" dbtype="String" />
    <field title="Started By" name="StartedBy" type="Text" uimask="00111" readonly="false" required="false" size="" description="" format="" dbtype="Guid" />
    <field title="Started On" name="StartedOn" type="DateTime" uimask="00111" readonly="false" required="false" size="" description="" format="datetime" dbtype="DateTime" />
  </fields>
</entity>