<?xml version="1.0" encoding="utf-8"?>
<entity xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0">
  <primarykey>ID</primarykey>
  <header title="" />
  <description title="" />
  <datasource type="DB" name="CIMS_AdmissionVacancies" sqlquery="[SQLCODE]" />
  <fields>
    <field name="ID" type="Text" dbtype="Guid" format="" title="ID" description="" size="" required="true" readonly="false" uimask="00111" />
    <field name="CreatedOn" type="DateTime" dbtype="DateTime" format="" title="Created On" description="" size="" required="false" readonly="true" uimask="00111" />
    <field name="CreatedBy" type="Lookup" dbtype="Guid" format="" title="Created By" description="" size="" required="false" readonly="true" uimask="00111">
      <extract table="aspnet_Membership" view="default" />
    </field>
    <field name="CreatedIP" type="Text" dbtype="String" format="" title="Created IP" description="" size="50" required="false" readonly="true" uimask="00111" />
    <field name="ModifiedOn" type="DateTime" dbtype="DateTime" format="" title="Modified On" description="" size="" required="false" readonly="true" uimask="00111" />
    <field name="ModifiedBy" type="Lookup" dbtype="Guid" format="" title="Modified By" description="" size="" required="false" readonly="true" uimask="00111">
      <extract table="aspnet_Membership" view="default" />
    </field>
    <field name="ModifiedIP" type="Text" dbtype="String" format="" title="Modified IP" description="" size="50" required="false" readonly="true" uimask="00111" />
    <field name="ApplicationId" type="Lookup" dbtype="Guid" format="" title="Application" description="" size="" required="false" readonly="true" uimask="00111">
      <extract table="aspnet_Applications" view="default" />
    </field>
    <field name="College" type="Lookup" dbtype="Guid" format="" title="College" description="" size="" required="false" readonly="false" uimask="00111">
      <extract table="aspnet_Teams" view="" />
    </field>
    <field name="Admission" type="Lookup" dbtype="Guid" format="" title="Admission" description="" size="" required="false" readonly="false" uimask="00111">
      <extract table="CIMS_Admission" view="" />
    </field>
    <field name="Specialty" type="Lookup" dbtype="Guid" format="" title="Specialty" description="" size="" required="false" readonly="false" uimask="00111">
      <extract table="CIMS_SpecialtyProfile" view="" />
    </field>
    <field name="TypeOfFinancing" type="Picklist" dbtype="Int32" format="" title="TypeOfFinancing" description="" size="" required="false" readonly="false" uimask="00111">
      <extract table="CIMS_d_TypeOfFinancing" view="" />
    </field>
    <field name="AdmissionCategory" type="Picklist" dbtype="Int32" format="" title="AdmissionCategory" description="" size="" required="false" readonly="false" uimask="00111">
      <extract table="CIMS_d_SpecialAdmissionCategories" view="" />
    </field>
    <field name="LocalityCategory" type="Picklist" dbtype="Int32" format="" title="LocalityCategory" description="" size="" required="false" readonly="false" uimask="00111">
      <extract table="CIMS_d_LocalityCategory" view="" />
    </field>
    <field name="NrOfVacancies" type="Integer" dbtype="Int32" format="" title="NrOfVacancies" description="" size="" required="false" readonly="false" uimask="00111" />
    <field name="Name" type="Text" dbtype="" format="" title="Name" description="" size="500" required="false" readonly="false" uimask="00111" />
  </fields>
</entity>