<?xml version="1.0"?>
<entity version="1.5">
  <datasource type="Provider" name="AX.FM.Explorer,AX.FM.Explorer.WFEvents.WFListProvider" />
  <primarykey>Name</primarykey>
  <fields>
    <field name="Title" type="Text" format="" dbtype="" size="1000" title="Title" description="Title" required="false" readonly="false" uimask="00111" />
    <field name="Name" type="Text" format="" dbtype="" size="200" title="Name" description="Name" required="true" readonly="false" uimask="00111" />
    <field name="Conditions" type="Text" format="" dbtype="" size="1000" title="Conditions" description="" required="false" readonly="false" uimask="00111" />
    <field name="EventIcons" type="Text" format="" dbtype="" size="1000" title="Events" description="" required="true" readonly="false" uimask="00111" />
		<field name="IsPublished" type="Boolean" format="" dbtype="" size="" title="IsPublished" description="" required="true" readonly="false" uimask="00111" />
    <field name="CreatedBy" type="Text" format="" dbtype="" size="100" title="Created By" description="" required="true" readonly="false" uimask="00111" />
    <field name="CreatedOn" type="DateTime" format="" dbtype="" size="" title="Created On" description="" required="true" readonly="false" uimask="00111" />		 		 
  </fields>
</entity>