<appSettings>
  <add key="Languages" value="1033,1048,1049" />

	<add key="Online_Notifications" value="false" />
	<add key="Online_Log" value="false" />
	<add key="Online_ClientAppPoolingSeconds" value="20" />
	<add key="Online_UserExpirationMinutes" value="120" />
	<add key="Online_UserLockMinutes" value="30" />
	<add key="Online_OneUserSessionMode" value="false" />
  <add key="Online_UserActivityHistory" value="false" />

  <add key="Registration_AdminEmail" value="starigradschi@alfasoft.md" />
	<add key="Registration_AutoApprove" value="true" />
	<add key="Registration_ValidateEmail" value="true" />

	<add key="LockAccount_AdminEmail" value="starigradschi@alfasoft.md" />

	<add key="UserManagement_CryptedPassword" value="true" />
</appSettings>