<connectionStrings>
        <clear />
  <add name="LocalSqlServer" connectionString="Data Source=SQL2016;Initial Catalog=CIMS;User ID=sa;Password=zaq1!xsw2@;Max Pool Size=575" providerName="System.Data.SqlClient" />
  <!--add name="LocalSqlServer" connectionString="Data Source=ORION\SQL2008R2;Initial Catalog=AX_Development;User ID=sa;Password=zaq1!xsw2@;Max Pool Size=575" providerName="System.Data.SqlClient" /-->
  <!--add name="LocalSqlServer" connectionString="Data Source=SQL2012\SQLEXPRESS;Initial Catalog=AX_Development;User ID=sa;Password=zaq1!xsw2@;Max Pool Size=575" providerName="System.Data.SqlClient" /-->
</connectionStrings>
