<entity version="1.5">
  <header title="aspnet_RoleNames" />
  <description title="" />
  <watermark>Images/Views/Logo_Default.gif</watermark>
  <datasource type="DB" name="aspnet_Roles" />
  <primarykey>RoleId</primarykey>
  <fields>
    <field name="ApplicationId" type="Lookup" format="" dbtype="Guid" size="" title="ApplicationId" description="" required="true" readonly="false" uimask="00111">
      <extract table="aspnet_Applications" view="" />
    </field>
    <field name="RoleId" type="Text" format="text" dbtype="Guid" size="" title="RoleId" description="" required="true" readonly="false" uimask="00111" />
    <field name="RoleName" type="Text" format="text" dbtype="String" size="256" title="RoleName" description="" required="true" readonly="false" uimask="00111" />
    <field name="LoweredRoleName" type="Text" format="text" dbtype="String" size="256" title="LoweredRoleName" description="" required="true" readonly="false" uimask="00111" />
    <field name="Description" type="Text" format="textarea" dbtype="String" size="256" title="Description" description="" required="false" readonly="false" uimask="00111" />
  </fields>
</entity>