<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings configSource="WebConfig\appsettings.config" />
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="Data Source=.\SQL2016;Initial Catalog=CIMS;User ID=sa;Password=zaq1!xsw2@;Max Pool Size=575" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
		<mailSettings>
			<smtp configSource="WebConfig\mail.config" />
		</mailSettings>
	</system.net>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off" />

		<authentication mode="Forms">
			<forms timeout="14400" />
		</authentication>

		<membership defaultProvider="SqlMembershipProvider">
			<providers>
				<clear />
				<add type="AX.PortalShell.Providers.SqlMembershipProvider" name="SqlMembershipProvider" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
			</providers>
		</membership>

		<roleManager enabled="true" defaultProvider="SqlRoleProvider">
			<providers>
				<add type="AX.PortalShell.Providers.SqlRoleProvider" name="SqlRoleProvider" connectionStringName="LocalSqlServer" />
			</providers>
		</roleManager>

		<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="30" stateNetworkTimeout="30" />

		<httpRuntime maxRequestLength="30720" />

		<!--healthMonitoring>
	    <rules>
	      <add name="All Audits Default" eventName="All Audits" provider="SqlWebEventProvider" profile="Default" minInterval="00:00:30" />
	    </rules>
	  </healthMonitoring-->

	</system.web>

	<system.webServer>
		<handlers>
			<add name="HttpUploadHandler" path="file.upload" verb="*" type="AX.PortalShell.Controls.HttpUploadHandler,AX.PortalShell" preCondition="integratedMode" />
			<add name="Telerik.ReportViewer.axd_*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=7.1.13.612, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" preCondition="integratedMode" />
		</handlers>

		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>

	</system.webServer>

</configuration>