<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DotNetSide.SqlScriptGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <applicationSettings>
    <DotNetSide.SqlScriptGenerator.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>.\MSSQL2012</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>Moldova_CIMS</value>
      </setting>
      <setting name="AuthenticationMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>

      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Tables" serializeAs="String">
        <value>aspnet_Applications,aspnet_Roles,aspnet_SchemaVersions,AX_Incidents_Priority,AX_Incidents_Status,AX_Incidents_Type,AX_Incidents_Properties,aspnet_Teams</value>
      </setting>
      <setting name="OutputFolder" serializeAs="String">
        <value>..\..\Scripts\Data\</value>
      </setting>
    </DotNetSide.SqlScriptGenerator.Properties.Settings>
  </applicationSettings>
</configuration>
